tests/fixtures/find.feather filter=lfs diff=lfs merge=lfs -text
tests/fixtures/split.feather filter=lfs diff=lfs merge=lfs -text
tests/fixtures/correct.feather filter=lfs diff=lfs merge=lfs -text
tests/fixtures/model.feather filter=lfs diff=lfs merge=lfs -text
tests/fixtures/personalize.feather filter=lfs diff=lfs merge=lfs -text
tests/fixtures/swap.feather filter=lfs diff=lfs merge=lfs -text
tests/fixtures/unblind.feather filter=lfs diff=lfs merge=lfs -text
tests/fixtures/mutation.feather filter=lfs diff=lfs merge=lfs -text
tests/fixtures/ngs.feather filter=lfs diff=lfs merge=lfs -text
tests/fixtures/pair.feather filter=lfs diff=lfs merge=lfs -text
tests/fixtures/pairing_candidates.feather filter=lfs diff=lfs merge=lfs -text
tests/fixtures/annotate.feather filter=lfs diff=lfs merge=lfs -text
tests/fixtures/join.feather filter=lfs diff=lfs merge=lfs -text
tests/fixtures/tag.feather filter=lfs diff=lfs merge=lfs -text
