G001.code-workspace
notebooks/*
**/__pycache__/*
**/__pycache__/*
**/g001.egg-info/*
sequence_analysis_output/*
*.DS_Store*
*build/**
tests/output/annotate.feather
tests/output/correct.feather
tests/output/find.feather
tests/output/join.feather
tests/output/model.feather
tests/output/mutation.feather
tests/output/ngs.feather
tests/output/pair.feather
tests/output/pairing_candidates.feather
tests/output/personalize.feather
tests/output/split.feather
tests/output/swap.feather
tests/output/tag.feather
tests/output/unblind.feather
tests/output/.cache/find.feather
raw_flow/
raw_flow.tgz
flow_input/
flow_input.tgz
flow_output/
.vscode/*
figures/figure1.png
figures/figure2_d.png
figures/figure2.png
figures/polyclonality.py
figures/figure3.png
figures/figure4.png
figures/figure5_nonvrc01_aa_violin.png
figures/figure5_nonvrc01_aa.png
figures/figure5_vrc01_aa_violin.png
figures/figure5_vrc01_aa.png
figures/figureS20_nonvrc01_nt_violin.png
figures/figureS20_nonvrc01_nt.png
figures/figureS20_vrc01_nt_violin.png
figures/figureS20_vrc01_nt.png
figures/figure6.png
figures/figure7.png
figures/figure8.png
supp_tables/

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

combined_data/Flow_Seq_Results.csv
combined_data/Wide_Flow_Seq_Data.csv
